#Turn Rewrite Engine On
RewriteEngine On
# NC makes the rule case sensitive
# L makes this the last rule that this specific condintion will match
# $ in the regular expression makes the matching stop so that "customlah" will not work

#Rewrite for index.php?link=xxxxx
RewriteRule ^([0-9a-zA-Z]+)$ index.php?link=$1 [NC,L]